html {
  text-align: center;
  background: #6D7E89;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: 'Muli', sans-serif;
}

#box-wrapper {
  background: rgba(1,1,1,0.6);
  width: 500px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid white;
  border-radius: 20px;
}

#forecast-wrapper {
  background: rgba(1,1,1,0.6);
  width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid white;
  border-radius: 20px;
}

h1 {
  font-size: 48px;
  margin: 0;
}

h2 {
  font-size: 40px;
  margin: 0;
}

h3 {
  font-size: 24px;
  margin: 15px;
}

#forecast-wrapper h2 {
  margin: 0;
}

#forecast-wrapper h3 {
  margin-bottom: 0;
}

button {
  margin: 0 0 10px;
  font-size: 20px;
  border: none;
  outline: none;
  background: rgba(255,255,255,0.2);
  color: white;
}

button:hover {
  cursor: pointer;
}

.active {
  background: rgba(255,255,255,0.9);
  color: black;
}

.day-block {
  display: inline-block;
  width: 9%;
}

.day-block h3 {
  font-size: 20px;
}

#imperial {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#metric {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media screen and (max-width: 900px) {
  #box-wrapper {
    width: 400px;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 32px;
  }
  h3 {
    font-size: 16px;
  }
  #forecast-wrapper {
    width: 400px;
  }
  .day-block {
    font-size: 14px;
    width: 18%;
    margin-top: 10px;
  }
  .day-block h3 {
    margin: 0;
  }
}

@media screen and (max-width: 480px) {
  #box-wrapper {
    width: 300px;
  }
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 24px;
  }
  #forecast-wrapper {
    width: 300px;
  }
  .day-block {
    font-size: 12px;
    margin-top: 8px;
    width: 18%;
  }
  .day-block h3 {
    font-size: 18px;
  }
}
